body, h1, h2, h3, p {
  color: #5a5a5a;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  padding: 0; }

ul, li {
  list-style: none;
  margin: 0;
  padding: 0; }

body {
  padding-bottom: 80px; }

h1, h2 {
  width: 100%;
  max-width: 1000px;
  color: #5a5a5a;
  font-weight: normal;
  margin: 40px auto 0; }

div {
  width: 100%;
  max-width: 1000px;
  margin: 24px auto 0; }

canvas {
  background-color: #efefef;
  margin-top: 8px; }

p {
  color: #5a5a5a;
  font-size: 16px; }

header {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto; }
  @media (max-width: 767px) {
    header {
      width: 90%;
      margin: 0 auto; } }
  header p {
    margin-top: 24px; }
  header ul {
    border: 1px solid #eee;
    box-sizing: border-box;
    margin-top: 16px;
    padding: 24px; }
    header ul li {
      padding-left: 13px;
      position: relative; }
      header ul li:before {
        width: 3px;
        height: 3px;
        background-color: #ccc;
        border-radius: 50%;
        content: "";
        position: absolute;
        top: 12px;
        left: 0; }

.js-test {
  width: 100%;
  max-width: 1000px;
  background-color: #eee;
  box-sizing: border-box;
  margin: 24px auto 0;
  overflow: hidden;
  padding: 24px; }
  @media (max-width: 767px) {
    .js-test {
      width: 90%; } }
  .js-test-hitarea {
    width: 100%;
    min-height: 150px;
    background-color: #ccc; }
  .js-test-results {
    width: 50%;
    float: left;
    margin-top: 16px; }
    .js-test-results > p {
      margin-top: 16px; }

.js-carr {
  width: 100%;
  max-width: 1000px;
  position: relative;
  overflow: hidden; }
  .js-carr-wrap {
    width: 500%;
    height: 300px;
    background-color: #eee;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    -webkit-transition: 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
            transition: 0.3s cubic-bezier(0.02, 0.01, 0.47, 1); }
  .js-carr-contents {
    width: 20%;
    background-color: #eee;
    padding: 24px 0 0 24px; }
  .js-carr-btn {
    width: 100%;
    margin: 0; }
    .js-carr-btn .icon {
      width: 20px;
      color: white;
      cursor: pointer;
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%); }
      .js-carr-btn .icon-left {
        left: 24px; }
      .js-carr-btn .icon-right {
        right: 24px; }
  .js-carr-pager {
    width: 100%;
    margin: 0;
    padding: 0; }
    .js-carr-pager-wrap {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      position: absolute;
      bottom: 16px;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%); }
    .js-carr-pager-item {
      width: 6px;
      height: 6px;
      background-color: #fff;
      border-radius: 50%;
      margin-left: 16px;
      opacity: .8; }
      .js-carr-pager-item:first-child {
        margin-left: 0; }
    .js-carr-pager ._on {
      background-color: #5a5a5a;
      opacity: 1;
      -webkit-transform: scale(1.6);
              transform: scale(1.6);
      -webkit-transition: .5s;
              transition: .5s; }
